<p>
  Hi <%= @record.student.user.first_name %>, <br> <br>
 into the course ""
  You've been <b><%= @record.status.name %></b> into the course "<%= @record.course.name%>". Reply to this email if you have concerns. <br> <br>

  Thanks, <br>
  Register
</p>
