<p>
  Hello <%= @record.student.user.first_name %>, <br> <br>

  Your registration to the course "<%= @record.course.name%>" has been marked as "<%= @record.status.name %>" <br> <br>

  Thanks, <br>
  Register
</p>
