<div id = "dashboardSM">
<h1> My Courses</h1>
</div>
<% @registrations.each_slice(3) do |four_registrations| %>

    <div class="row">
      <div class="col-md-1"> </h2></div>
        <% four_registrations.each do |registration| %>
          <div class="col-md-4" id = "col-md-4">
          <center><img src="<%= registration.course.cover%>" class="img-responsive" id = "img"></center><br>
           <center><b><%= link_to registration.course.name.upcase, "/courses/#{registration.course.id}" %></b></font></center>
            <center><h5><%= registration.course.short_description %></h6></center><br>
            <center><button type="button" class = "btn btn-<%= ["success", "info", "danger", "primary", "warning"].sample %> btn-block" id = "reg")">Register</button></center>
          </div>
          <div class="col-md-1"> </div>
      <% end %>
          <div class="col-md-1"> </div> 
    </div>
<% end %>

</div>