<!DOCTYPE html>
<html class = "set">
<head>
  <title></title>
</head>
<body>
<br>
<div class = "row" id = "set">
  <div class = "col-md-1" id = "spacer">
  </div>
  <center><div class = "col-md-2">
    <img src="http://icons.iconarchive.com/icons/iconsmind/outline/512/Add-User-icon.png" id = "nuser"><br>
      <a href ="/signup">New User</a>
      <hr class = "devide">
      Set up a new user(student, admin, teacher)
  </div> 
    <center><div class = "col-md-2">
    <%= image_tag ("department.png"), :class => "tag" %><br>
      <a href ="/signup">New Department</a>
      <hr class = "devide">
      Set up a new department from which courses come from
    </div>

    <center><div class = "col-md-2">
    <%= image_tag ("room.png"), :class => "tag" %><br>
      <a href ="/signup">New Room</a>
      <hr class = "devide">
      Set up a new classroom from which courses take place
    </div>

</div>

</body>
</html>
