@import "compass/css3";
.signup{
background:rgba;
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:0;
  box-shadow:0 4px 10px 4px;
}


#img {
  width: 40%;
  border-radius: 50%;
}

.department{
background:rgba;
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:0;
  box-shadow:0 4px 10px 4px;

}

.room{
background:rgba;
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:0;
  box-shadow:0 4px 10px 4px;

}


